
.blog_container
{
    margin-top: 5em;
    display: initial;
}

.blog_container .hush_loading_wrapper
{
    margin-top: 10em;
    margin-bottom: 12em;
}

.blog_options
{
    margin-top: 2em;
}
.blog_options .b_opt
{
    margin: 1em;
    float: right;
}

.b_card
{
    background-color: #FFF;
    border-radius: 5px;
    width: 20em;
    height: 23em;
    border: 1px solid #EEEEEE;
    margin: 1em;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10);
    position: relative;
    cursor: pointer;
    float: left;
}
.b_card .b_img
{
    width: 100%;
    max-height: 12em;
}
.b_card .b_cat
{
    padding: 2px 10px;
    margin: 5px;
    background-color: #E4F1FE;
    border-radius: 5px;
    float: left;
}
.b_card .b_title
{
    padding: 0.8em;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
}
.b_card .footer
{
    /* padding: 0.5em; */
    position: absolute;
    bottom: 0;
    width: 100%;
}
.b_card .b_readon
{
    padding: 1em;
    font-size: 0.8em;
    color: #4183D7;
    font-weight: 600;
    float: left;
}
.b_card .b_auth
{
    padding: 0.5em;
    float: right;
}
.b_card .b_auth_name
{
    font-weight: 300;
}
.b_card .b_auth_img
{
    width: 1.8em;
}
.b_card .b_bar
{
    height: 5px;
    margin-top: 0.5em;
    background-color: #19B5FE;
}
/* like */
.b_card .b_like {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 3em;
    height: 3em;
    background-color: #fff;
    border-radius: 50%;
}
.b_card .b_like :focus {
    outline: none;
}
.b_card .b_like .toggle-icon {
    width: 100%;
    height: 100%;
    font-size: 2em;
    position: relative;
    color: gray;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.b_card .b_like .toggle-icon:before, .toggle-icon:after {
    position: absolute;
    top: 0.1em;
    left: 0.25em;
    transition: all .3s ease-out;
    content: "\f08a";
    font-family: fontawesome;
}
.b_card .b_like .toggle-icon:hover:before {
    transform: scale(1.2);
}
.b_card .b_like .toggle-icon:active:before {
    transition: none;
    transform: scale(1);
}
.b_card .b_like .toggle-icon:after {
    opacity: 0;
}
.b_card .b_like .toggle-icon.-checked {
    color: #A12C2C;
}
.b_card .b_like .toggle-icon.-checked:before {
    content: "\f004";
}
.b_card .b_like .toggle-icon.-checked:after {
    content: "\f004";
    animation: likeFly .6s ease-in;
}

@keyframes heartbeat {
    from {
        opacity: 1;
    }
    to {
        transform: scale(3);
        opacity: 0;
    }
}
@keyframes likeFly {
    from {
        opacity: 1;
    }
    to {
        transform: scale(3) rotate(45deg) translateY(-90px);
        opacity: 0;
    }
}


/* detail modal */
#detail_modal .hush_loading_wrapper
{
    margin-top: 10em;
    margin-bottom: 10em;
}
#detail_modal .dm_img
{
    width: 100%;
}
#detail_modal .dm_cat
{
    padding: 2px 10px;
    margin: 5px;
    background-color: #E4F1FE;
    border-radius: 5px;
}
#detail_modal .dm_date
{
    padding: 2px 10px;
    margin: 5px;
    font-weight: 300;
}
#detail_modal .dm_title
{
    padding: 0.8em;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
}
#detail_modal .dm_data
{
    padding: 0.8em;
}
#detail_modal .dm_auth,
#detail_modal .stats
{
    padding: 0.5em;
}
#detail_modal .dm_data .likes
{
    margin-left: 1em;
}
#detail_modal .dm_data .likes i
{
    color: #A12C2C;
}
#detail_modal .dm_auth_name
{
    font-weight: 300;
}
#detail_modal .dm_auth_img
{
    width: 1.8em;
}
#detail_modal .dm_content
{
    padding: 0.8em;
    font-size: 1.2em;
}

.loading {
  width: 45px;
  margin: 1em auto;
}
.loading i {
  width: 5px;
  height: 5px;
  margin-right: 10px;
  display: inline-block;
  background: #F44336;
  border-radius: 50%;
  transform: scale(1);
  opacity: 0.9;
}

.loading i:nth-child(1) {
  animation: loading-ani1 0.6s ease-in-out infinite;
}

.loading i:nth-child(2) {
  background: #FFC107;
  animation: loading-ani1 0.6s ease-in-out 0.2s infinite;
}

.loading i:nth-child(3) {
  background: #4CAF50;
  animation: loading-ani1 0.6s ease-in-out 0.4s infinite;
}
@keyframes loading-ani1 {
  0% {
    transform: scale(1);
    opacity: 0.95;
  }
  30% {
    transform: scale(2.5);
    opacity: 1;
  }
  60% {
    transform: scale(1);
    opacity: 0.90;
  }
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes dash {
	0% {
		stroke-dasharray: 1,95;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 85,95;
		stroke-dashoffset: -25;
	}
	100% {
		stroke-dasharray: 85,95;
		stroke-dashoffset: -93;
	}
}

@keyframes rotate {
	0% {transform: rotate(0deg); }
	100% {transform: rotate(360deg); }
}

.circle-loader {
    fill: transparent;
    stroke: #FDD932;
    stroke-width: 5;
    animation: dash 2s ease infinite,rotate 2s linear infinite;
}
